@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h2>Add a Student</h2>

<h4>Add a Student to this course: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId);

  @Html.Label("Select course");
  @Html.DropDownList("CourseId");

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Students", "Index")</p>