@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Category;

<h2>Course Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This course does not contain any students</p>
}
else
{
  <h4>Students the course contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Student.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to categories", "Index")</p>
<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>